<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80);">
  <div class="container text-center">
    <h1><%= @cocktail.name.upcase %></h1>
  </div>
</div>



<div class="container pt-5 pb-3">
  <h2>INGREDIENTS</h2>

  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.ingredient.name.capitalize %>, <%= dose.description %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail), class: "btn btn-danger"  %>
  <br>
  <%= link_to "Go back to all cocktails", cocktails_path, class: "btn btn-light my-5"  %>
</div>
