<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo %>);">
  <div class="container text-center">
    <h1><%= @cocktail.name.upcase %></h1>
  </div>
</div>



<div class="container pt-5 pb-3">
  <h2>INGREDIENTS</h2>

  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.ingredient.name.capitalize %>, <%= dose.description %> <%= link_to "Delete", dose_path(dose), method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail), class: "btn btn-danger"  %>
  <br>
  <%= link_to "Go back to all cocktails", cocktails_path, class: "btn btn-light my-5"  %>
</div>
